<div class="articles">
  {% for doc in site.posts %}
    {% if doc.category == "Статьи" %}
      {% cycle "add row1": "<div class='row'>", "", "" %}
        <div class="four columns">
          <a href="{{ site.baseurl }}{{ doc.url }}" class="link">
            <h4 style="margin-bottom: -0.5em; line-height: 1.2; font-weight: 400">{{ doc.title }}</h4>
            <div style="margin-bottom: 10px; line-height: 1.4em;" class="justify">
              {% if doc.author %}<h5 style="font-style: italic; margin-bottom: 0.5em;">{{ doc.author }}{% endif %}</h5>
              {% if doc.abstract %}{{ doc.abstract | truncatewords:25 }}{% else %}{{ doc.content | truncatewords:25 | strip_newlines }}{% endif %}
            </div>
          </a>
        </div>
      {% cycle "end row1": "", "", "</div>" %}
    {% endif %}  
  {% endfor %}
  {% cycle 'end row1' : "", '</div>', '</div>', '</div>' %}
 
