<div class="fixed-top container">
  <ul id="navlist" class="left">
    <br>
    <li {% if page.url == "/text/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/text/">Содержание</a></li>
    <li {% if page.url == "/posts/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/posts/">Материалы</a></li>
    <li {% if page.url == "/sites/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/sites/">Сайты</a></li>
    <li {% if page.url == "/arhives/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/arhives/">Архив</a></li>
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">О книге</a></li>
</div>
<div class="fixed-top">
  <ul id="navlist" class="corner">
    <li> <a href="">Наверх</a></li>
  </ul>
</div>
