<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <header>
      {% include nav.html %}
    <header>
    <main>
      <article>
        <div class="container">
          <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line">
            <h2 style="padding-top: 10px; padding-bottom: 10px; margin-bottom: 0rem;" class="brand center" id="title">{{ page.title | upcase }}</h2>
            {% if page.author %}<p class="center author">{{ page.author }}</p>{% endif %}
          <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line flip">
            <br>{% if page.abstract %}<h4 style="margin-top: 0;"class="center">{{ page.abstract }}</h4>{% endif %}
          {% if page.date %}
            <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag flip">
              <p class="right tagline">{% include rus.html %}</p>
            <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag">
          {% endif %}
          <br>
          <div class="onecol justify">
            {% include toc.html html=content %}
            {{ content }}
          </div>
        </div>
      </article>
    </main>
    <footer>
      {% include foot.html %}
    </footer>
  </body>
</html>
